---
export const prerender = true;
import { Image } from 'astro:assets'
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import WideHero from "../components/Hero/Hero.astro";
import ImageBlock from "../components/ImageBlock.astro";
import DefaulContentBlock from "../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../components/Content/ImageOnRight.astro";
import ImageOnLeft from "../components/Content/ImageOnLeft.astro";
import CallToAction from "../components/CallToAction.astro";
import Button from "../components/Buttons/PrimaryButton.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import Areas from "../components/areas.astro";
import GetaQuote from "../components/GetaQuote.astro";

import heroBg from "../assets/images/fence1.png";
import extension3 from "../assets/images/extension3.png";
import fence1 from "../assets/images/fence1.png";
import fence2 from "../assets/images/fencing2.png";

import returf1 from "../assets/images/returf1.png";
import decking1 from "../assets/images/decking1.png";
import lawn1 from "../assets/images/lawn1.png";
import design1 from "../assets/images/design1.png";
import work1 from "../assets/images/perry-fence1.png";
import work2 from "../assets/images/perry-fence2.png";
import work3 from "../assets/images/perry-fence3.png";
import work4 from "../assets/images/perry-fence4.png";
import work5 from "../assets/images/perry-fence5.png";
import work6 from "../assets/images/perry-fence6.png";



---

<Layout title={`Perry's Fencing & Landscaping Services | Fencing Services in the South of England`} description={`Providing premium Home, Garden and Landscaping Services. Fencing installation.`}>




<Hero
title="Expert Fencing Services"
sub="Security, Strength & Style"
linkText="Get a Quote Today"
href="/contact"
image={heroBg}

>
<div slot="heroContent"> 
  <p class="mt-6 mb-4 lg:text-lg">
    At Perry's Fencing and Landsacping Services, we recognise the significance of a meticulously crafted fence for your property. Beyond offering privacy and security, it enhances the aesthetic charm of your home or business.  
  </p>
  <p class="mb-10 lg:text-lg">
    With a wide range of fencing options, from classic wood and metal to modern vinyl and composite, we ensure your property remains secure while enhancing its visual appeal.  </p>  
  
</div>  
</Hero>
<Areas />
		
<div class="lg:mt-20">
 
	<ImageOnRight
    
    title="Expert Fencing Services"
    image={fence2} 
    imageAlt="Expert Fencing Services"
    height={580} 
    width={600}
    href="/contact"
    linkText="GET A FREE QUOTE TODAY"
  >
    <Fragment slot="content" >
      <p class="my-4">
        A properly designed and installed fence doesn't just enhance your property's appearance; it also ensures privacy, security, and safety. Our team of experts boasts years of experience in designing and installing fences for both residential and commercial properties.

      </p>
      <p class="mb-4">
        We recognise the significance of a robust and enduring fence that can withstand various weather conditions and the passing of time. That's why we exclusively utilise top-quality materials and methods to construct fences that align with your individual requirements and financial plan. Whether you seek a fence for privacy, security, or ornamentation, you can rely on us to deliver.
      </p>
      <p class="mb-4">
        Our goal is to create a cohesive and visually appealing solution that enhances the overall look and feel of your property while providing the necessary security and privacy you desire.
      </p>
 
 
    </Fragment>
  </ImageOnRight>

</div>

<div class="bg-white my-10 lg:mt-20 lg:mb-20"> 
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto lg:text-center">
      <h2 class="block lg:text-center font-semibold text-brand-primary text-2xl lg:text-4xl">The Importance of Professional Fence Installation</h2>
      
      <p class="mt-6 lg:text-lg  text-gray-600">When it comes to securing and enhancing your property with a fence, the choice of the installer is paramount. Opting for an experienced and professional fence installer can make a world of difference in the overall performance and longevity of your fencing investment.</p>
    </div>
    <div class="mx-auto mt-16 lg:max-w-7xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                  <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                </svg>
                
                
            </div>
            <span class="text-xl">Precision and Expertise</span>
          </dt>
          <dd class="mt-2 text-base text-gray-600">
              Professional installers bring a wealth of knowledge and expertise to the table. From accurate measurements to meticulous planning, they ensure every aspect of your fence is executed with precision. This not only enhances the functionality of the fence but also contributes to its aesthetic appeal.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                  <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                </svg>
            </div>
            <span class="text-xl">Compliance and Regulations</span>

          </dt>
          <dd class="mt-2 text-base text-gray-600">
              
              Navigating local regulations and compliance standards can be a complex task. Professional installers are well-versed in these requirements, ensuring that your fence not only meets but exceeds all necessary regulations. This is particularly crucial for avoiding potential legal issues and ensuring the longevity of your fence.
              </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                  <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                </svg>
            </div>
           <span class="text-xl"> Quality Craftsmanship</span>
          </dt>
          <dd class="mt-2 text-base text-gray-600">
             
              Experienced installers are equipped with the skills and craftsmanship needed to deliver a high-quality fence. From selecting the right materials to employing the best construction practices, professionals take pride in their workmanship, resulting in a fence that stands the test of time.
              </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                  <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                </svg>
            </div>
            <span class="text-xl">Efficiency and Timeliness</span>
          </dt>
          <dd class="mt-2 text-base text-gray-600">
              
              Time is of the essence, and professional installers understand the value of efficiency. With a streamlined process, they can complete the installation promptly without compromising on the quality of work. This ensures that you can enjoy the benefits of your new fence sooner rather than later.
              </dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                  <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                </svg>
            </div>
            <span class="text-xl"> Peace of Mind</span>
          </dt>
          <dd class="mt-2 text-base text-gray-600">
             
              Choosing a professional installer provides peace of mind. It eliminates the uncertainties and potential challenges associated with DIY installations or inexperienced contractors. With professionals at the helm, you can rest assured that your investment is in capable hands.
              
              </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                  <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                </svg>
            </div>
            <span class="text-xl">Enhanced Property Value</span>
          </dt>
          <dd class="mt-2 text-base text-gray-600">
              
              A professionally installed fence not only adds to the visual appeal of your property but also contributes to its overall value. Potential homebuyers often view a well-installed fence as a sign of care and attention to detail, making your property more attractive in the real estate market. This enhanced property value can be a significant return on your investment in professional fence installation.
              </dd>
        </div>

        
      </dl>
   
    </div>
    
  </div>
 
</div>

<!-- START OF OUR WORK SECTION -->
<div class="mx-auto bg-gray-800 px-6 lg:mt-10  overflow-hidden py-20">
  <h2 class="text-white text-2xl lg:text-6xl font-bold  mb-10">Our Work</h2>
<p class="text-white text-lg lg:text-xl">Take a look at some of our projects and the team at work.</p>
<div
class="mt-12 grid w-full lg:gap-10 lg:grid-cols-3"
>
<div class="flex flex-col  mb-10">
  <Image
    src={work1}
    class="w-full h-full overflow-hidden rounded-lg"
    alt="Rubber roofs - durable EPDM roofing"
    width={600}
    height={600}
    format="webp"
  />

</div>



<div class="flex flex-col  mb-10">
    <Image
    src={work2}
    class="w-full h-full overflow-hidden rounded-lg"
    alt="Rubber roofs - durable EPDM roofing"
    width={600}
    height={600}
    format="webp"
  />

</div>

<div class="flex flex-col  mb-10">
    <Image
    src={work3}
    class="w-full h-full overflow-hidden rounded-lg"
    alt="Rubber roofs - durable EPDM roofing"
    width={600}
    height={600}
      format="webp"
  />

</div>

<div class="flex flex-col  mb-10">
    <Image
    src={work4}
    class="w-full h-full overflow-hidden rounded-lg"
    alt="Rubber roofs - durable EPDM roofing"
    width={600}
    height={600}
    format="webp" 
  />

</div>

<div class="flex flex-col  mb-10">
    <Image
    src={work5}
    class="w-full h-full overflow-hidden rounded-lg"
    alt="Rubber roofs - durable EPDM roofing"
    width={600}
    height={600}
    format="webp" 
  />

</div>

<div class="flex flex-col  mb-10">
    <Image
    src={work6}
    class="w-full h-full overflow-hidden rounded-lg"
    alt="Rubber roofs - durable EPDM roofing"
    width={600}
    height={600}
      format="webp"
  />

</div>


</div>


<div class="mx-auto text-center">
  <a class="block sm:inline-flex items-center text-center uppercase no-underline bg-gradient-to-b from-brand-primary to-brand-secondary px-5 py-3 text-sm sm:text-lg tracking-wider font-bold hover:bg-gray-500 shadow-md text-white rounded-lg" href="/contact">Get Your Project Started Today</a>
  </div>
</div>
<!-- END OF OUR WORK SECTION -->

  <!--<CallToAction
    background={heroBg}  
    title="Expert Fencing in Hertfordshire"
    ImageAlt="Expert Fencing in Hertfordshire"
    linkText="START YOUR PROJECT TODAY"
    href="/contact">
    <div slot="ctaContent"> 
      <p class="mt-6 mb-4 lg:text-lg">
        
        Secure your property with our top-tier fencing services in Hertfordshire. Our team specializes in crafting robust and reliable fencing solutions that not only protect but also enhance the aesthetics of your property. 
    </p>
      <p class="mb-4 lg:text-lg">
        Experience the assurance of quality craftsmanship and personalized service as we create fencing that perfectly complements your needs and elevates your property's appeal. Safeguard your space with us – protect, enhance, and redefine security.
      </p>
    </div>
  </CallToAction> -->

  <div class="bg-white my-10 lg:mt-20 lg:mb-20"> 
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto lg:text-center">
        <h2 class="block lg:text-center font-semibold text-brand-primary text-2xl lg:text-4xl">Your Top Choice for Local Fencing Installers</h2>
        
        <p class="mt-6 lg:text-lg  text-gray-600">We take pride in being the premier choice for fencing solutions in Hertfordshire. Our dedication to delivering top-quality fencing extends beyond just safeguarding properties; it's about enhancing the character and charm of your space.</p>
      </div>
      <div class="mx-auto mt-16 lg:max-w-7xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-base font-semibold  text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
                  
                  
              </div>
              <span class="text-xl">Expertise</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
              Our team has years of experience in designing and installing fences of all types. We have the expertise needed to ensure that your fence is not only functional but also visually appealing.</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
              <span class="text-xl">Quality materials</span>

            </dt>
            <dd class="mt-2 text-base text-gray-600">
              We use only the highest quality materials in our work, including wood, vinyl, and metal. This ensures that your fence is durable and long-lasting.</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
             <span class="text-xl">Competitive pricing</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
              We offer competitive pricing on all of our fencing services, ensuring that you get the best value for your money.</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
              <span class="text-xl"> Customer service</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
              We pride ourselves on providing excellent customer service. We will work closely with you to ensure that your needs are met and that you are completely satisfied with our work.</dd>
          </div>

       
          
        </dl>
      </div>
    </div>
  </div>
  
  <GetaQuote 
  background={fence2}
  href="/"
  linkText="Talk to an Expert"
  >
  
  <div slot="quoteContent"> 
    <p>
      Perry's Fencing & Landscaping offer a FREE home survey and no-obligation quote service. Our espert team will come to your property, assess your specific needs, and discuss your project goals. You'll receive expert advice tailored to your requirements and a detailed quote with transparent pricing, allowing you to make informed decisions about your project.
    </p>
  
  </GetaQuote>

</Layout>  

