---
export const prerender = true;
const town = "Meriden";
import { Image } from 'astro:assets'
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/LandingHero.astro";
import WideHero from "../../components/Hero/Hero.astro";
import ImageBlock from "../../components/ImageBlock.astro";
import DefaulContentBlock from "../../components/Content/DefaultContentBlock.astro"; 
import ImageOnRight from "../../components/Content/ImageOnRight.astro";
import ImageOnLeft from "../../components/Content/ImageOnLeft.astro";
import CallToAction from "../../components/CallToAction.astro"; 
import Button from "../../components/Buttons/PrimaryButton.astro";
import SubTitle from "../../components/Headings/SubTitle.astro";
import heroBg from "../../assets/images/extension7.png";
import fence1 from "../../assets/images/fence1.png";
import fence2 from "../../assets/images/fence2.jpg";
import fence3 from "../../assets/images/fence3.jpg";
import fence5 from "../../assets/images/fence5.jpg";
import fence4 from "../../assets/images/fence4.jpg";
import fence6 from "../../assets/images/fence6.png";
import fenceRepair from "../../assets/images/fence-repair.png";
import fenceMaint from "../../assets/images/fence-maintenance.png";
import clearance from "../../assets/images/clearance.png";
import patio5 from "../../assets/images/patio5.png";

import returf3 from "../../assets/images/returf3.png";
import decking1 from "../../assets/images/decking1.png";
import lawn1 from "../../assets/images/lawn1.png";
import design1 from "../../assets/images/design1.png";
import extension3 from "../../assets/images/extension3.png";
import extension5 from "../../assets/images/extension5.png";
import extension9 from "../../assets/images/extension9.png";
import extension10 from "../../assets/images/extension10.png";
import extension6 from "../../assets/images/extension6.png";
import extension7 from "../../assets/images/extension7.png";
import extension8 from "../../assets/images/extension8.png";
import extension11 from "../../assets/images/extension11.png";
import extension12 from "../../assets/images/extension12.png";
import planning from "../../assets/images/planning1.png";


---

<Layout title={`RAU Services | House Extensions Meriden. Patios, Gardens & more`} description={`Top choice for House Extensions in Meriden. Architect approved extenssions. FREE site survey & quote. The house extension you've always dreamed of.`}>




<Hero
title="House Extensions Meriden"
sub="Archictect Approved House Extensions in Meriden"
linkText="Get a FREE Quote Today"
href="/contact"
image={heroBg}

>
<div slot="heroContent"> 
  <p class="my-6 lg:text-lg">
    Transform your house in Meriden into your dream home with an architect-approved extension that enhances your living space and adds undeniable value to your property. A well-designed house extension can transform the way you live, adding extra space and functionality to your home, without the need for costly and time-consuming moving.   
</p>  
<p class="mb-10 lg:text-lg">
    RAU Services specialise in creating bespoke house extensions that seamlessly blend with your existing property while meeting all of your individual needs and requirements.
</p>  
  
</div>  
</Hero>
		
<div class="lg:mt-20">
 
	<ImageOnRight
    
    title="Your Dream Living Space in Meriden"
    image={extension5} 
    imageAlt="House extensions Hertfordshire"
    height={580} 
    width={600}
    href="/contact"
    linkText="GET A FREE QUOTE TODAY"
  >
    <Fragment slot="content" >
      <p class="my-4">
        Our passion lies in crafting exceptional house extensions that not only expand your living space but also elevate the overall aesthetic and functionality of your home. With years of expertise and a commitment to unparalleled craftsmanship, we take pride in transforming houses into personalised sanctuaries that reflect your unique lifestyle and aspirations.
      </p>
      <p class="mb-4">
        At RAU Services, our mission is simple: to build the house extension you've always dreamed of. With a wealth of experience and a dedication to unmatched craftsmanship, we're here to turn your vision into a reality. We take joy in creating extensions that not only add space but also enhance the charm and practicality of your living environment. 
        
      </p>
      <p class="mb-4">
        From concept to completion, our focus is on delivering a home extension that aligns perfectly with your lifestyle and aspirations. Choose RAU Services to bring your dream home extension to life effortlessly.
      </p>
 
    </Fragment>
  </ImageOnRight>


  <div class="bg-white my-10 lg:mt-20 lg:mb-20"> 
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto lg:text-center">
        <h2 class="block lg:text-center font-bold text-brand-primary text-3xl lg:text-4xl">Why Choose a House Extension?</h2>
        
        <p class="mt-6 lg:text-lg  text-gray-600">There are numerous reasons why a house extension could be the perfect solution for your home in Meriden. Here are just a few of the top benefits:
        </p>
      </div>
      <div class="mx-auto mt-16 lg:max-w-7xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-base font-semibold  text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
                  
                  
              </div>
              <span class="text-xl">Increased living space</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
                Whether you need an extra bedroom, larger kitchen, new bathroom or more storage space, a house extension can provide the added square footage to meet your needs.</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
              <span class="text-xl">Customisation</span>

            </dt>
            <dd class="mt-2 text-base text-gray-600">
                Unlike moving to a new home, a house extension allows you to design and customise the space to your exact specifications, creating a truly unique and personalised living space.                </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
             <span class="text-xl">Added value</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
                A well-designed house extension can add significant value to your property, making it a worthwhile investment for both your current and future needs.
                </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
              <span class="text-xl">Cost-effective</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
                In many cases, a house extension can be more cost-effective than moving to a new home, especially when you factor in the costs of stamp duty, legal fees, and other associated expenses.
             </dd>
          </div>         
        </dl>
    
      </div>
      
    </div>
   
  </div>



  <ImageOnLeft
    
    title="Architect Approved Excellence in Meriden"
    image={extension9} 
    imageAlt="House extensions Meriden"
    height={600} 
    width={600}
  >
    <Fragment slot="content" >
      <p class="my-4">
        At RAU Services, we understand that a house extension is not just about adding square footage; it's about creating a seamless integration of design and construction that enhances the beauty and value of your property. 
      </p>
      <p class="mb-4">
        Whether you're envisioning a modern kitchen extension, a cozy additional living area, or a stylish home office, our dedicated team of professionals is here to turn your ideas into reality. 
      </p>
      <p class="mb-4">
        Explore the possibilities of personalized designs, premium materials, and a stress-free construction process with RAU Services. Elevate your home with us – where excellence meets innovation.   
        
      </p>
      <p class="mb-4">
        
        From modern designs that seamlessly integrate with the original house to maximizing space in a terraced house, we thrive on transforming your vision into a tangible, beautiful extension. Explore endless possibilities with RAU Services, where every project is a unique expression of your lifestyle.
      </p> 
     
 
    </Fragment>
  </ImageOnLeft>

  
<div class="bg-white my-10 lg:mt-20 lg:mb-20"> 
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto lg:text-center">
        <h2 class="block lg:text-center font-semibold text-brand-primary text-2xl lg:text-4xl">Advantages of Architect-Approved Extensions
        </h2>
      
      </div>
      <div class="mx-auto mt-16 lg:max-w-7xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-base font-semibold  text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
                  
                  
              </div>
              <span class="text-xl">Design Expertise</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
              Opting for an architect-approved extension guarantees access to professional design expertise. Architects bring a wealth of knowledge to the table, ensuring that your extension not only complements your existing home but also aligns with your vision. Their expertise in space planning, aesthetics, and functionality results in a well-thought-out design that maximizes your living space's potential.        
          </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
              <span class="text-xl">Structural Integrity</span>
  
            </dt>
            <dd class="mt-2 text-base text-gray-600">
              Architect-approved extensions prioritize structural soundness. Architects work closely with engineers to ensure that the extension is structurally robust, complying with building codes and regulations. This meticulous attention to structural integrity ensures that your extended space is safe, durable, and built to last.
  
  
              </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
             <span class="text-xl"> Added Value</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
             An architect-approved extension enhances the value of your property. With a design that integrates seamlessly with your home's architecture, the extension not only increases the available living space but also improves the overall aesthetics. This added appeal can significantly boost your property's market value should you consider selling in the future.
  
  
  </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
              <span class="text-xl">Streamlined Process</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
              Working with an architect streamlines the extension process. Architects oversee the project from conception to completion, managing various aspects such as design, obtaining necessary permits, liaising with contractors, and ensuring adherence to timelines. Their involvement ensures a smoother and more efficient construction journey, minimizing potential issues and delays.
          </dd>
          
          </div>
  
       
        </dl>
      </div>
    </div>
  </div>


 
</div>
 <div class="lg:mt-10">
    <CallToAction
    background={heroBg}  
    title="Get Your Extension Project Started Today"
    ImageAlt="Get Your Home Extension Project Started Today"
    linkText="START YOUR PROJECT TODAY"
    href="/contact">
    <div slot="ctaContent"> 
      <p class="mt-6 mb-4 lg:text-lg">
        Contact us now to begin your journey towards a tailor-made extension that suits your needs. Our team will guide you through the process, from initial consultations to the final construction phase, ensuring that your extension project aligns with your desires and budget. 
    </p>
      <p class="mb-4 lg:text-lg">
        With RAU Services, experience the ease and satisfaction of expanding your home with precision and expertise.
    </p>
    </div>
  </CallToAction>
</div>

  <div class="bg-white my-10 lg:mt-20 lg:mb-20"> 
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto lg:text-center">
        <h2 class="block lg:text-center font-bold text-brand-primary text-3xl lg:text-4xl">Understanding House Extension Costs</h2>
        
        <p class="mt-6 lg:text-lg  text-gray-600">Embarking on a house extension project involves various factors that collectively contribute to the overall cost. At RAU Services, we prioritize transparency and tailor our solutions to your specific needs. Here are key considerations that influence home extension costs: </p>
      </div>
      <div class="mx-auto mt-16 lg:max-w-7xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-base font-semibold  text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
                  </svg>
                  
                  
                  
              </div>
              <span class="text-xl">Size and Complexity</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
                
                The size of the extension and its architectural complexity play a significant role. Larger or intricately designed extensions may involve more materials and labor, impacting the overall cost.
                </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
                  </svg>
              </div>
              <span class="text-xl">Materials and Finishes</span>

            </dt>
            <dd class="mt-2 text-base text-gray-600">
                The choice of materials and finishes greatly influences the budget. Opting for premium materials and high-end finishes can add to the overall cost, while more economical options offer flexibility.
                </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
                  </svg>
              </div>
             <span class="text-xl"> Design and Customization</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
               
                A customized design tailored to your preferences may incur additional costs. However, it ensures that the extension seamlessly integrates with your existing home, creating a cohesive and aesthetically pleasing result.
                
                </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
                  </svg>
              </div>
              <span class="text-xl"> Structural Changes</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
               
                If the extension requires structural modifications or reinforcements, it can affect the budget. Our team assesses the structural implications to ensure safety and compliance.
                                </dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
                  </svg>
              </div>
              <span class="text-xl"> Permits and Regulations</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
               
                Obtaining necessary permits, planning permission and complying with local building regulations are essential steps. The cost may include application fees and ensuring the extension aligns with zoning and building codes.
                  
                </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
                  </svg>
              </div>
              <span class="text-xl">Utilities and Infrastructure</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
                
                Extending utilities such as plumbing, electrical wiring, and HVAC systems to the new space can impact costs. Our experts evaluate the existing infrastructure and propose efficient solutions.
            </dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
                  </svg>
              </div>
              <span class="text-xl"> Project Timeline</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
               
                The duration of the project influences labor costs and may affect the overall budget. We aim for timely completion, balancing efficiency with precision.
                
            </dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
                  </svg>
              </div>
              <span class="text-xl">Consultation and Planning</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
                
                Engaging in thorough consultation and planning helps align the project with your vision. Our team works closely with you to understand your requirements, guiding you through the decision-making process.
                
            </dd>
          </div>

          
        </dl>
        <p class="mt-10 lg:text-lg  text-gray-600 lg:text-center">By considering these factors, RAU Services ensures a comprehensive understanding of your project's scope, allowing us to provide an accurate and customised quote. Contact us today to begin the journey towards your dream house extension.</p>
      </div>
      
    </div>
   
  </div>

  <ImageOnLeft
    
  title="Seamless Home Extension Management in Meriden"
  image={extension10} 
  imageAlt="House extensions Hertfordshire"
  height={580} 
  width={600}
  href="/contact"
  linkText="GET A FREE QUOTE TODAY"
>
  <Fragment slot="content" >
    <p class="my-4">
      Embarking on a house extension involves a meticulous process, and at RAU Services, we ensure a seamless experience from start to finish. Our dedicated project manager oversees every aspect, coordinating with structural engineers to guarantee the stability and safety of your extension. Whether it's a kitchen extension or expanding your dining room, we navigate the complexities of planning applications and permitted development, ensuring compliance with local regulations.

   </p>
    <p class="mb-4">
      For properties like semi-detached or detached houses, our team expertly handles considerations such as square metre measurements and party wall agreements, providing clarity and peace of mind. We specialize in the installation of bi-fold doors or sliding doors, seamlessly integrating indoor and outdoor spaces for a modern touch. Trust RAU Services for a comprehensive and hassle-free house extension process, where every detail is managed with precision and expertise.
    </p>

  </Fragment>
</ImageOnLeft>


  <ImageOnRight
    
  title="Navigating Local Planning Authority in Meriden"
  image={planning} 
  imageAlt="House extensions including structural engineer assessment, local authority planning permission and adhering to building regulations"
  height={580} 
  width={600}
  href="/contact"
  linkText="GET A FREE QUOTE TODAY"
>
  <Fragment slot="content" >
    <p class="my-4">
        Understanding local Planning Authority regulations is a crucial step in the house extension process. RAU Services ensures a seamless experience by navigating the complexities of local regulations, including Permitted Development and prior approval processes. 
    </p>
    <p class="mb-4">
        Whether you're planning a single-storey extension or seeking approval for a new extension in a terraced house, our experts liaise with the local Planning Authority on your behalf. We guide you through the necessary permits and compliance requirements, ensuring a hassle-free journey from conceptualizing your house extension to its completion. 
    </p>
    <p class="mb-4">
        Trust RAU Services to handle the intricate details, allowing you to focus on the excitement of expanding and enhancing your living space.
    </p>

  </Fragment>
</ImageOnRight>

<div class="mx-auto bg-gray-800 px-6 lg:mt-10  overflow-hidden py-20">
    <h2 class="text-white text-2xl lg:text-6xl font-bold  mb-10">Our Work</h2>
  <p class="text-white text-lg lg:text-xl">Take a look at some of our house extension projects.</p>
  <div
  class="mt-12 grid w-full lg:gap-10 lg:grid-cols-3"
  >
  <div class="flex flex-col  mb-10">
    <Image
      src={extension9}
      class="w-full h-full overflow-hidden rounded-lg"  
      alt="House extensions for detached house or semi detached house"
      width={600}
      height={600}
      format="webp"
    />

  </div>

  
  
  <div class="flex flex-col  mb-10">
      <Image
      src={extension5}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="House extensions for detached house or semi detached house"
      width={600}
      height={600}
      format="webp"
    />

  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={extension11}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="House extensions including planning permission and adhering to building regulations"
      width={600}
      height={600}
        format="webp"
    />
 
  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={extension10}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="House extensions including planning application, planning permission and adhering to building regulations"
      width={600}
      height={600}
      format="webp" 
    />
 
  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={extension12}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="House extensions"
      width={600}
      height={600}
      format="webp" 
    />

  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={extension8}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="House extensions"
      width={600}
      height={600}
        format="webp"
    />
 
  </div>

  
  </div>


  <div class="mx-auto text-center">
    <a class="block sm:inline-flex items-center text-center uppercase no-underline bg-brand-dark-green px-5 py-3 text-sm sm:text-lg tracking-wider font-bold hover:bg-gray-500 shadow-md text-white rounded-lg" href="/contact">Get Your Project Started Today</a>
    </div>

  </div>

  <div class="my-20">

    <CallToAction
    background={heroBg}  
    title="Get Your Extension Project Started Today"
    ImageAlt="Get Your Home Extension Project Started Today"
    linkText="START YOUR PROJECT TODAY"
    href="/contact">
    <div slot="ctaContent"> 
      <p class="mt-6 mb-4 lg:text-lg">
        Contact us now to begin your journey towards a tailor-made extension that suits your needs. Our team will guide you through the process, from initial consultations to the final construction phase, ensuring that your extension project aligns with your desires and budget. 
    </p>
      <p class="mb-4 lg:text-lg">
        With RAU Services, experience the ease and satisfaction of expanding your home with precision and expertise.
    </p>
    </div>
  </CallToAction>

  <div class="mx-auto max-w-6xl px-6 lg:mt-20  overflow-hidden">
    <h2 class="text-brand-primary text-3xl lg:text-4xl font-bold text-center lg:mb-20">More from RAU Services - Garden & Landscaping Services in Meriden</h2>
  
  <div
  class="mt-12 grid w-full lg:gap-10 lg:grid-cols-2"
  >
  
  <div class="flex flex-col  mb-10">
    <Image
    src={design1}
    class="w-full h-full overflow-hidden rounded-lg"
    alt="Choose us for your garden makeover!"
    width={600}
    height={400}
    format="webp" 
  />
  <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4">Patio & Garden Design</h3>
<p class="lg:text-xl">
  Expertly designed patios and gardens including our stylish pergola installations.

</p>
<div class="w-1/2">
  <Button
  href="/patio-and-garden-design">Find Out More</Button>
  </div>
</div>

  
  
  <div class="flex flex-col  mb-10">
      <Image
      src={returf3}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners including patio and garden design"
      width={600}
      height={400}
      format="webp"
    />
    <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4">Re-turfing</h3>
  <p class="lg:text-xl">Renew and refresh your lawn with our professional re-turfing services.
  </p>
  <div class="w-1/2">
    <Button
    href="/returfing">Find Out More</Button>
    </div>
  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={decking1}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners - your top choice local garden designer"
      width={600}
      height={400}
        format="webp"
    />
    <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4">Decking</h3>
  <p class="lg:text-xl">
    
    Create inviting and functional outdoor spaces with our durable and beautifully crafted decking solutions.  </p>
  <div class="w-1/2">
    <Button
    href="/decking">Find Out More</Button>
    </div>
  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={lawn1}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Trusted traders - patio and garden design, decking, block paving and more."
      width={600}
      height={400}
      format="webp" 
    />
    <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4">Artificial Lawns</h3>
  <p class="lg:text-xl">
    Enjoy the beauty of a lush green lawn all year round with our high-quality artificial grass options.

  </p>
  <div class="w-1/2">
    <Button
    href="/artificial-lawns">Find Out More</Button>
    </div>
  </div>

  <div class="flex flex-col  mb-10">
    <Image
      src={fence1}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners including patio and garden design"
      width={600}
      height={400}
      format="webp"
    />
    
   <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4">Fencing</h3>
  <p class="lg:text-xl">Secure your property with our sturdy and reliable fencing solutions.

  </p>
  <div class="w-1/2">
    <Button
    href="/fencing">Find Out More</Button>
    </div>
  </div>
  
  
  <div class="flex flex-col  mb-10">
      <Image
      src={clearance}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners - a great job guaranteed"
      width={600}
      height={400}
        format="webp"
    />
    <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4"> Garden Clearance</h3>
  <p class="lg:text-xl">
   
Restore order and beauty to your garden with our thorough and fully professional garden clearance services. 
  </p>
  <div class="w-1/2">
    <Button
    href="/garden-clearance">Find Out More</Button>
    </div>
  </div>
  
  </div>
  </div>

</div>

</Layout>  

