---
export const prerender = true;
const town = "Harmer Green";
import { Image } from 'astro:assets'
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/LandingHero.astro";
import WideHero from "../../components/Hero/Hero.astro";
import ImageBlock from "../../components/ImageBlock.astro";
import DefaulContentBlock from "../../components/Content/DefaultContentBlock.astro"; 
import ImageOnRight from "../../components/Content/ImageOnRight.astro";
import ImageOnLeft from "../../components/Content/ImageOnLeft.astro";
import CallToAction from "../../components/CallToAction.astro";
import Button from "../../components/Buttons/PrimaryButton.astro";
import SubTitle from "../../components/Headings/SubTitle.astro";
import heroBg from "../../assets/images/fence1.png";
import extension3 from "../../assets/images/extension3.png";
import fence1 from "../../assets/images/fence1.png";
import fence2 from "../../assets/images/fence2.jpg";
import fence3 from "../../assets/images/fence3.jpg";
import fence5 from "../../assets/images/fence5.jpg";
import fence4 from "../../assets/images/fence4.jpg";
import fence6 from "../../assets/images/fence6.png";
import fenceRepair from "../../assets/images/fence-repair.png";
import fenceMaint from "../../assets/images/fence-maintenance.png";
import clearance from "../../assets/images/clearance.png";
import patio5 from "../../assets/images/patio5.png";

import returf3 from "../../assets/images/returf3.png";
import decking1 from "../../assets/images/decking1.png";
import lawn1 from "../../assets/images/lawn1.png";
import design1 from "../../assets/images/design1.png";
import work1 from "../../assets/images/work1.png";
import work2 from "../../assets/images/work2.png";
import work3 from "../../assets/images/work3.png";
import work4 from "../../assets/images/work4.png";
import work5 from "../../assets/images/work5.png";
import work6 from "../../assets/images/work6.png";
import work7 from "../../assets/images/work7.png";



---

<Layout title={`RAU Services | Landscape Gardeners Harmer Green. Patios, Gardens & more`} description={`The top choice landscape gardeners in Harmer Green. Decking, Patios and Gardens, Artificial Lawns, Re-turfing and more. FREE site survey and quote.`}>




<Hero
title="Landscape Gardeners Harmer Green"
sub="Quality Landscape Gardening Services in Harmer Green"
linkText="Get a FREE Quote Today"
href="/contact"
image={heroBg}

>
<div slot="heroContent"> 
  <p class="mt-6 mb-10 lg:text-lg">
    Transform your outdoor space today with RAU Services, professional landscape gardeners in Harmer Green.
  </p>  
  
</div>  
</Hero>
		
<div class="lg:mt-20">
 
	<ImageOnRight
    
    title="Your Local Landscape Gardener in Harmer Green"
    image={patio5} 
    imageAlt="Landscape gardener"
    height={580} 
    width={600}
    href="/contact"
    linkText="GET A FREE QUOTE TODAY"
  >
    <Fragment slot="content" >
      <p class="my-4">
        RAU Services are professional landscapers with many years of experience of working on landscaping projects just like yours in Harmer Green.
        
      </p>
      <p class="mb-4">
        With a commitment to a customer-friendly approach, RAU Services offers free consultations to discuss your vision, preferences, and specific needs. 
        
      </p>
      <p class="mb-4">
        Our collaborative process ensures that your outdoor space reflects your individual style and enhances the beauty of your property. Whether you're dreaming of a tranquil patio, a vibrant garden, or a functional deck space, RAU Services is dedicated to providing practical and personalized landscaping solutions in Harmer Green. Contact us today to bring your outdoor vision to life.
      </p>
 
    </Fragment>
  </ImageOnRight>

  <div class="mx-auto max-w-6xl px-6 lg:mt-10  overflow-hidden">
    <h2 class="text-brand-primary text-3xl lg:text-4xl font-bold text-center lg:mb-20">Garden & Landscaping Services in Harmer Green</h2>
  
  <div
  class="mt-12 grid w-full lg:gap-10 lg:grid-cols-2"
  >
  
  <div class="flex flex-col  mb-10">
    <Image
    src={design1}
    class="w-full h-full overflow-hidden rounded-lg"
    alt="Choose us for your garden makeover!"
    width={600}
    height={400}
    format="webp" 
  />
  <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4">Patio & Garden Design</h3>
<p class="lg:text-xl">
  Expertly designed patios and gardens including our stylish pergola installations.

</p>
<div class="w-1/2">
  <Button
  href="/patio-and-garden-design">Find Out More</Button>
  </div>
</div>

  
  
  <div class="flex flex-col  mb-10">
      <Image
      src={returf3}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners including patio and garden design"
      width={600}
      height={400}
      format="webp"
    />
    <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4">Re-turfing</h3>
  <p class="lg:text-xl">Renew and refresh your lawn with our professional re-turfing services.
  </p>
  <div class="w-1/2">
    <Button
    href="/returfing">Find Out More</Button>
    </div>
  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={decking1}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners - your top choice local garden designer"
      width={600}
      height={400}
        format="webp"
    />
    <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4">Decking</h3>
  <p class="lg:text-xl">
    
    Create inviting and functional outdoor spaces with our durable and beautifully crafted decking solutions.  </p>
  <div class="w-1/2">
    <Button
    href="/decking">Find Out More</Button>
    </div>
  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={lawn1}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Trusted traders - patio and garden design, decking, block paving and more."
      width={600}
      height={400}
      format="webp" 
    />
    <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4">Artificial Lawns</h3>
  <p class="lg:text-xl">
    Enjoy the beauty of a lush green lawn all year round with our high-quality artificial grass options.

  </p>
  <div class="w-1/2">
    <Button
    href="/artificial-lawns">Find Out More</Button>
    </div>
  </div>

  <div class="flex flex-col  mb-10">
    <Image
      src={fence1}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners including patio and garden design"
      width={600}
      height={400}
      format="webp"
    />
    
   <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4">Fencing</h3>
  <p class="lg:text-xl">Secure your property with our sturdy and reliable fencing solutions.

  </p>
  <div class="w-1/2">
    <Button
    href="/fencing">Find Out More</Button>
    </div>
  </div>
  
  
  <div class="flex flex-col  mb-10">
      <Image
      src={clearance}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners - a great job guaranteed"
      width={600}
      height={400}
        format="webp"
    />
    <h3 class="text-brand-primary text-xl lg:text-3xl font-bold py-4"> Garden Clearance</h3>
  <p class="lg:text-xl">
   
Restore order and beauty to your garden with our thorough and fully professional garden clearance services. 
  </p>
  <div class="w-1/2">
    <Button
    href="/garden-clearance">Find Out More</Button>
    </div>
  </div>
  
  </div>
  </div>

  <ImageOnLeft
    
    title="Transforming Outdoor Spaces with Expertise in Harmer Green"
    image={fence2} 
    imageAlt="Landscaping gardeners"
    height={600} 
    width={600}
  >
    <Fragment slot="content" >
      <p class="my-4">
        At RAU Services, our team of experienced landscape gardeners and garden designers is dedicated to delivering a fantastic job on every landscaping project. Whether it's creating a new fence to enhance privacy, providing reliable garden maintenance, or constructing new decking for outdoor entertainment, we take pride in our ability to transform your outdoor space with precision and creativity.
      </p>
      <p class="mb-4">
        Our reliable service is not just about completing garden work; it's a commitment to customer satisfaction. We offer a fair price for our landscaping projects, ensuring that you receive top-notch quality without breaking the bank. 
      </p>
      <p class="mb-4">
        From the initial consultation to the final touches, RAU Services provides a comprehensive build service, making us your go-to partner for all your landscaping needs. Trust us to bring your outdoor vision to life, as we go above and beyond to ensure every aspect of your project is handled with expertise and care.     
      </p>
     
 
    </Fragment>
  </ImageOnLeft>

</div>
 <div class="lg:mt-10">
  <CallToAction
    background={heroBg}  
    title="Request Your Free Site Survey Today"
    ImageAlt="Request Your Free Site Survey Today"
    linkText="GET STARTED"
    href="/contact">
    <div slot="ctaContent"> 
      <p class="mt-6 mb-4 lg:text-lg">
        Your dream garden is just a survey away. Our team of skilled landscape gardeners have years of experience working on gardens in Harmer Green like yours. We offer a FREE site survey complete with no obligation quote.
      </p>
      <p class="mb-4 lg:text-lg">
        Get in touch today and get your landscaping project started. 
      </p>
    </div>
  </CallToAction>
</div>

  <div class="bg-white my-10 lg:mt-20 lg:mb-20"> 
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto lg:text-center">
        <h2 class="block lg:text-center font-bold text-brand-primary text-3xl lg:text-4xl">Unlock the Beauty of Your Outdoor Space in Harmer Green</h2>
        
        <p class="mt-6 lg:text-lg  text-gray-600">Our services are more than just digging and planting; they're about creating a personal oasis that uplifts and inspires. With our free site survey and quote, taking the first step toward your garden transformation has never been easier. Our no-obligation approach puts you firmly in control, ensuring your vision aligns with our expertise.

        </p>
      </div>
      <div class="mx-auto mt-16 lg:max-w-7xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-base font-semibold  text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
                  
                  
              </div>
              <span class="text-xl">Complimentary Site Survey</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
                Begin with confidence, knowing exactly what to expect.</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
              <span class="text-xl">Affordable Quality</span>

            </dt>
            <dd class="mt-2 text-base text-gray-600">
              Superior landscaping that doesn't break the bank.
                </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
             <span class="text-xl">Experienced Craftsmanship</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
               
            Harness our years of experience for your garden's advantage.
                </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
              <span class="text-xl">Friendly Local Team</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
              Get service with a smile from gardeners who treat your garden like their own.
                </dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
              <span class="text-xl"> Peace of Mind</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
               
                Choosing a professional landscape gardening company provides peace of mind. It eliminates the uncertainties and potential challenges associated with DIY installations or inexperienced contractors.
                
                </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-brand-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                  </svg>
              </div>
              <span class="text-xl">Versatile Offerings</span>
            </dt>
            <dd class="mt-2 text-base text-gray-600">
            From lush patios to pristine artificial grass lawns, we cater to all your landscaping needs.
                </dd>
          </div>

          
        </dl>
    
      </div>
      
    </div>
   
  </div>

  

 
<section class="bg-white px-6 pb-10 lg:px-8">
    <h2 class="text-3xl lg:text-5xl font-bold text-center mb-10 text-brand-primary">Transforming Gardens, Enriching Lives</h2>
    <figure class="mx-auto max-w-4xl">
      <p class="sr-only">5 out of 5 stars</p>
      <div class="flex gap-x-1 text-yellow-600">
        <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
        </svg>
        <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
        </svg>
        <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
        </svg>
        <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
        </svg>
        <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
        </svg>
      </div>
      <blockquote class="mt-10 text-xl font-semibold leading-8 tracking-tight text-gray-900 sm:text-2xl sm:leading-9">
        <p>“RAU where an absolute delight to work with on our Garden refurb / landscaping. The team were polite, courteous and always communicated well with us throughout the project, nothing was too big for them and they always made sure we were happy with the work. I would recommend using James, Rich and and the team and because of their great job we will be asking them to the work required on the front of the house.”</p>
      </blockquote>
      <figcaption class="mt-10 flex items-center gap-x-6">
        
        <div class="text-sm leading-6">
          <div class="font-semibold text-gray-900">Nigel</div>
          <div class="mt-0.5 text-gray-600">Landscaping Project</div>
        </div>
      </figcaption>
    </figure>
  </section>



  
  <div class="mx-auto bg-gray-800 px-6 lg:mt-10  overflow-hidden py-20">
    <h2 class="text-white text-2xl lg:text-6xl font-bold  mb-10">Our Work</h2>
  <p class="text-white text-lg lg:text-xl">Take a look at some of our projects and the team at work.</p>
  <div
  class="mt-12 grid w-full lg:gap-10 lg:grid-cols-3"
  >
  <div class="flex flex-col  mb-10">
    <Image
      src={work1}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners - from decking to raised beds"
      width={600}
      height={600}
      format="webp"
    />

  </div>

  
  
  <div class="flex flex-col  mb-10">
      <Image
      src={work2}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners"
      width={600}
      height={600}
      format="webp"
    />

  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={work3}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners"
      width={600}
      height={600}
        format="webp"
    />
 
  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={work4}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners"
      width={600}
      height={600}
      format="webp" 
    />
 
  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={work5}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Landscape gardeners"
      width={600}
      height={600}
      format="webp" 
    />

  </div>
  
  <div class="flex flex-col  mb-10">
      <Image
      src={work6}
      class="w-full h-full overflow-hidden rounded-lg"
      alt="Fencing and landscaping services"
      width={600}
      height={600}
        format="webp"
    />
 
  </div>

  
  </div>


  <div class="mx-auto text-center">
    <a class="block sm:inline-flex items-center text-center uppercase no-underline bg-brand-dark-green px-5 py-3 text-sm sm:text-lg tracking-wider font-bold hover:bg-gray-500 shadow-md text-white rounded-lg" href="/contact">Get Your Project Started Today</a>
    </div>


  </div>

  <div class="my-20">

  <CallToAction
  background={heroBg}  
  title="Request Your Free Site Survey Today"
  ImageAlt="Request Your Free Site Survey Today"
  linkText="GET STARTED"
  href="/contact">
  <div slot="ctaContent"> 
    <p class="mt-6 mb-4 lg:text-lg">
      Your dream garden is just a survey away. Our team of skilled landscape gardeners have years of experience working on gardens in Harmer Green like yours. We offer a FREE site survey complete with no obligation quote.
    </p>
    <p class="mb-4 lg:text-lg">
      Get in touch today and get your landscaping project started. 
    </p>
  </div>


</CallToAction>
</div>

</Layout>  

